*
{
    margin: 0;
    padding: 0;
}
:root 
{
    font-family: "Alice", serif;
    line-height: 150%;
    color: #573A37;
}

body
{
<<<<<<< HEAD
    background-image: url(/asset/bg-image.jpg);
=======
    background-image: url(asset/bg-image.jpg);
>>>>>>> 61589ffd49df7597472b89d4211d18dd133bcff8
    background-size: cover;
}
section + section
{
    margin-top: 24px;
}

#about p + p
{
    margin-top: 12px;
}

#page
{
    box-sizing: border-box;
    width: 800px;
    padding: 24px;
    background-color: #F0E8C2;
    border-radius: 24px;
    margin: 48px auto;
}
main
{
    padding: 24px;
}

h1
{
    font-size: 40px;
    color: #291B1A;
    margin-bottom: 4px;
    line-height: 150%;
    font-weight: normal;
}

h2
{
    font-size: 24px;
    color: #291B1A;
    margin-bottom: 24px;
    line-height: 150%;
    font-weight: normal;
}

ul
{
    padding-left: 24px;
}
