:root{
    font-family: "Open Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

#conteudo {
  width: 800px;
  margin: 88px auto;
}

img {
  border-radius: 28px;
  width: 100%;
}

header img{
    margin-bottom: 24px;
    margin-top: 40px;
}

header p {
  text-align: center;
  font-style: italic;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 40px;
}

h2{
    font-size: 32px;
    font-weight: bolder;
    margin-bottom: 4px;
}


h3, h4{
    font-size: 28px;
    font-weight: bolder;
}

#templo1 img{
    margin-top: 64px;
    margin-bottom: 20px;
}

#templo1 p{
    margin-bottom: 24px;
    margin-top: 4px;
}

#templo2 img{
    margin-top: 48px;
    margin-bottom: 20px;
}

#templo2 p{
    margin-bottom: 24px;
    margin-top: 4px;
}

#parque img{
    margin-top: 48px;
    margin-bottom: 20px;
}

#parque p{
    margin-bottom: 24px;
    margin-top: 4px;
}


span{
    color: #E1624F;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
}

ul li {
  color: #0C51A7;
  font-weight: 700;
  margin-left: 24px;
}

#casais{
    color: #591B98;
}

#Familias{
    color: #E5245E;
}

#Orçamento{
    color: #E95E10;
}

#texto{
    font-weight: bold;
}

footer {
  text-align: center;
  margin-top: 80px;
}


